{% extends 'blog/base_blog.html' %}
{% load custom_filters %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block content %}
    <meta property="fb:admins" content="{100001852686292}"/>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }
        (document, 'script', 'facebook-jssdk'));
    </script>

    <div class="card mb-4" style="border: #FFFF">
        <h4>{{ post.title }}</h4>
        <footer class="blockquote-footer">
            {{ post.date_pub }}
            <br>
            Read time:
            {% if post.read_time|to_minutes <= 1 %}
                less than a minute
            {% else %}
                about {{ post.read_time|to_minutes }} minutes
            {% endif %}

        </footer>
        <div class="card-body">
            <p class="content-markdown">{{ post.body }}</p>
        </div>


        {% if post.tags.all %}
            <div class="card-footer text-muted mb-2">
                Tags:
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_url }}" class="btn btn-secondary btn-sm ml-1 mb-1">{{ tag.title }}</a>
                {% endfor %}
            </div>
        {% endif %}


        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
        <hr/>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5" data-width="100%"></div>
    </div>



{% endblock %}

